{% block sidebar %}

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right">
	<div class="card my-1.5">
		<h5 class="card-header">About</h5>
		<div class="card-body">
			<p class="card-text">
				This blog application is built using the Django web framework
				for the backend, and is designed with a Bootswatch theme for the
				user interface.
			</p>
			<a
				href="https://docs.djangoproject.com/fr/3.0/"
				class="btn btn-secondary"
				>Django Documentation</a
			>
		</div>
	</div>
</div>

{% endblock sidebar %}
